SECRET_KEY="django-insecure-yuv8kxwpjmv_o#3b6j5$j%ux^f2c0cnm9v+9#bn13w!%tw=-ga"
DEBUG=True
ALLOWED_HOSTS="*"

# Configuración de Base de Datos Opcional (MySQL)
USE_MYSQL=False
DB_HOST=localhost
DB_PORT=3306
DB_NAME=storeapp
DB_USER=root
DB_PASSWORD=""
