{% extends 'Admin.html' %}
{% block contenido %}
<h3 class="alert alert-secondary text-center titulooe">Lista de Categorias</h3>

<!-- Mostrar mensajes de éxito -->
{% if messages %} 
{% for msj in messages %}
    <script>
        Swal.fire('{{msj}}','','success')
    </script>
{% endfor %}   
{% endif %}

<div class="mt-3 mb-3 text-end">
    <a href="{% url 'crearcategoria' %}" class="btn btn-outline-primary">Crear Categoria</a>
</div>
{% if lista %}
<div class="table-responsive">
    <table class="custom-table">
        <thead class="table-primary">
            <tr>
                <th>Codigo</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.categoria }}</td>
                <td nowrap>
                    <a href="{% url 'editarcategoria' item.codigo %}" class="btn btn-warning">Editar</a>
                    <a href="#" onclick="eliminar('{{ item.codigo }}')" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    const eliminar = (codigo) => {
        Swal.fire({
            title: '¿Está seguro de eliminar la categoría?',
            showDenyButton: true,
            icon: 'warning',
            confirmButtonText: 'Eliminar',
            denyButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/eliminarcategoria/' + codigo 
            }
        });
    }
</script>
{% else %}
<p class="alert alert-warning">No hay cargos registrados</p>
{% endif %}
{% endblock %}